<div class="container">
  <div class="row valign-wrapper">
    <div class="col s6">
      <h2> Our universities</h2>
    </div>
    <div class="col s6 right-align">
      <%= link_to 'New University', new_university_path, class: 'waves-effect btn indigo' %>
    </div>
  </div>
  <div class="row">
    <% @universities.each do |university| %>
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="http://lorempixel.com/640/480/abstract/<%= rand(1..10) %>">
            <span class="card-title"><%= university.name %></span>
          </div>
          <div class="card-content">
            <p>
              <%= truncate(university.description, :length => 100) %>
            </p>
            <div class="row valign-wrapper">
              <div class="col s12">
                <div class="collection ">
                  <a href="#!" class="collection-item"> Teachers <span class="new badge blue" data-badge-caption=""> <%= university.users.count %> </span></a>
                  <a href="#!" class="collection-item"> Courses <span class="new badge blue" data-badge-caption=""> <%= university.courses.count %> </span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s4">
                <%= link_to 'Show', university %>
              </div>
              <div class="col s4">
                <%= link_to 'Edit', edit_university_path(university) %>
              </div>
              <div class="col s4">
                <%= link_to 'Destroy', university, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
<br>